<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/BeforeLogin/styles")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    @Html.Partial("_NavbarBeforeLogin")
    
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/BeforeLogin/scripts")   
    @RenderSection("scripts", required: false)
</body>
</html>
