@using System.Data.Entity 
@using NutritionWatcher.Models
@if (Session["User"] == null)
{
    Response.Redirect("~/User/Login");
}
else
{
    int userid = (int)Session["User"];

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render((new ApplicationDbContext()).NWUsers.Include(x => x.Style).SingleOrDefault(x => x.Id == userid).
       Style.Name.Equals("light") ? "~/AfterLogin/styles" : "~/AfterLogin/darkstyles")
    </head>
    <body>
        @Html.Partial("_Navbar")
        <div class="container body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/BeforeLogin/scripts")
        @RenderSection("scripts", required: false)
    </body>
    </html>
}
