@model NutritionWatcher.Models.UpdatePasswordViewModel
@{
    ViewBag.Title = "UpdatePassword";
}

<div>
    @using (Html.BeginForm("UpdatePasswordDB", "User", null, FormMethod.Post, new { }))
    {
        @Html.LabelFor(x => x.Password)
        @Html.TextBoxFor(x => x.Password)

        @Html.LabelFor(x => x.NewPassword)
        @Html.TextBoxFor(x => x.NewPassword)

        @Html.LabelFor(x => x.ConfirmNewPassword)
        @Html.TextBoxFor(x => x.ConfirmNewPassword)

        @Html.HiddenFor(x => x.UserId)
        <input name="send" class="" type="submit" value="Módosítás"/>
    }
</div>

