@model NutritionWatcher.Models.UpdatePasswordViewModel
@{
    ViewBag.Title = "UpdatePassword";
}

<div>
    @using (Html.BeginForm("UpdatePasswordDB", "User", null, FormMethod.Post, new { @class = "container-center" }))
    {
        <label class="field-validation-error" style="display: block; width: 100%; text-align: center;">@ViewBag.Error</label>

        <div class="group">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "input"})
            @Html.ValidationMessageFor(x => x.Password)
        </div>
           
        <div class="group">
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword, new { @class = "input" })
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
               
        <div class="group">
            @Html.LabelFor(x => x.ConfirmNewPassword)
            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "input" })
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
        </div>

        <div class="group">
            <input name="send" class="btn success" type="submit" value="Módosítás" />
        </div>
    }
</div>

