@model NutritionWatcher.Models.UpdateNameViewModel
@{
    ViewBag.Title = "UpdateName";
}

<div>
    @using (Html.BeginForm("UpdateNameDb", "User", null, FormMethod.Post, new { @class = "container-center"}))
    {
        <div class="group">
            @Html.LabelFor(x => x.Firstname)
            @Html.TextBoxFor(x => x.Firstname, new { @class = "input" })
            @Html.ValidationMessageFor(x => x.Firstname)
        </div>
        <div class="group">
            @Html.LabelFor(x => x.Lastname)
            @Html.TextBoxFor(x => x.Lastname, new { @class = "input" })
            @Html.ValidationMessageFor(x => x.Lastname)
        </div>
        <div class="group">
            <input name="send" class="btn success" value="Módosítás" type="submit" />
        </div>
    }
</div>

