@model IEnumerable<NutritionWatcher.Models.CalorieViewModel>
@{
    ViewBag.Title = "ShowAssignments";
}

<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Étel neve</th>
            <th>Fehérje mennyiség</th>
            <th>Zsír mennyiség</th>
            <th>Szénhidrát mennyiség</th>
            <th>Fogyasztott mennyiség (g)</th>
            <th>Étel törlése a fogyasztásból</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Food.Name</td>
                <td>@x.Food.Protein</td>
                <td>@x.Food.Fat</td>
                <td>@x.Food.Hydrocarbonate</td>
                <td>@x.ConsumedGramms</td>
                <td>
                    @using (Html.BeginForm("DeleteAssignment", "Consumption", new { assignId = x.Id, consumptionId = x.Consumption.Id }, FormMethod.Post, new { }))
                    {
                        <input name="send" class="btn danger" value="Törlés" type="submit"/>
                    }
                </td>
            </tr>
        }
    </table>
</div>

