@model NutritionWatcher.Models.ConsumptionModel
@{
    ViewBag.Title = "Update";
}

<div class="container-center"> @Html.ValidationSummary()
    @using (Html.BeginForm("UpdateDataBase", "Consumption", null, FormMethod.Post, new { }))
    {
        <div class="group">
            @Html.LabelFor(x => x.Date)
            @Html.TextBoxFor(x => x.Date, "{0:yyyy-MM-dd}", new { @class = "input"})
            @Html.ValidationMessageFor(x => x.Date)
        </div>

        <div class="group">
            @Html.LabelFor(x => x.Time)
            @Html.TextBoxFor(x => x.Time, "{0:HH:mm}", new { @class = "input"})
            @Html.ValidationMessageFor(x => x.Time)
        </div>

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.User.Id)

        <div class="group">
            <input name="send" type="submit" class="btn success" value="Módosítás" />
        </div>
    }
</div>
